Django>=5.0.0
django-allauth>=0.57.0
djangorestframework
django-oauth-toolkit
openpyxl
pandas
filelock
mysqlclient>=2.2.0
numpy
scipy
statsmodels
nltk
python-dotenv
xlsxwriter
matplotlib
seaborn
apscheduler
marshmallow
tablib
watchdog
xlrd
xlwt
spacy
requests
pillow
pydantic
pyjwt
cryptography
dj-database-url
psycopg2-binary
whitenoise
gunicorn
django-simple-history>=3.4.0
