<!-- Line Chart Container -->
<div class="chart-wrapper" data-chart-type="line" {% if multi %}data-multi="true" {% endif %}>
    <canvas id="{{ chart_id }}" class="chart-canvas"></canvas>
    <div class="chart-loading">
        <div class="loading-spinner"></div>
    </div>
    <div class="chart-empty" style="display: none;">
        <p>No data available</p>
    </div>
    <div class="chart-tooltip" id="{{ chart_id }}-tooltip" style="display: none;">
        <div class="tooltip-date"></div>
        <div class="tooltip-value"></div>
    </div>
</div>